* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main > .header > h1 {
    text-align: center;
    font-size: 2rem;
    font-weight: 700;
    color: #F9F4DA;
}

main > .header > p {
    margin-inline: auto;
    text-align: center;;
    font-size: 0.8rem;
    color: #8E8E8E;
    max-width: 350px;
}

main > section.status h2,
main > section.status p {
    margin: 0;
}

main > section.status {
    width: min(500px, 100%);
    height: 100px;
    margin: 30px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 15px;
    border-radius: 8px;
    color: #F9F4DA;
}

main > section.status.won {
    background-color: green;
    border: 2px solid #8E8E8E;
}

main > section.status.lose {
    background-color: red;
    border: 2px solid #8E8E8E;
}

main > section >.status.won > h2 {
    margin: 0;
    font-size: 1.5rem;
    font-weight: 700;
    color: #F9F4DA;
}

main > section.status.won > p {
    margin: 0;
    font-size: 0.875rem;;
}

main > section.status.displayFarewellMessages > h2 {
    margin: 0;
}

main > section.status.displayFarewellMessages > h2.farewell {
    background-color: #7A5EA7;
    border: 1px dashed #323232;
    font-style: italic;
    font-weight: 400;
    width: min(500px, 100%);
    text-align: center;
    padding: 15px 20px;
}

main > section.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0);
    white-space: nowrap;
    border: 0;
}

.languages-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    max-width: 700px;
}

.languages-list > .chip {
  position: relative;
  padding: 10px 20px;
  border: 1px solid #8e8e8e;
  border-radius: 8px;
  overflow: hidden;
}

.languages-list > span.chip.lost::before {
  content: "💀";
  position: absolute;
  inset: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  background-color: rgba(0, 0, 0, 0.7);
}

main > .word-display {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 5px;
    align-items: center;
}

main > .word-display > .letter {
   margin-top: 30px;
   padding: 20px 40px;
   border-bottom: 3px solid #d2d2d2;
   border-radius: 8px;
   max-width: 350px;
   background-color: #787878;
   font-size: 2rem;
   font-weight: 700;
}

main > .word-display > .missed-letter {
   margin-top: 30px;
   padding: 20px 40px;
   border-bottom: 3px solid #d2d2d2;
   border-radius: 8px;
   max-width: 350px;
   background-color: #800000;
   font-size: 2rem;
   font-weight: 700;
   color: whitesmoke;
}

main > .keyboard-container {
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 8px;
    width: 100%;
    margin: 30px auto 0;
}

main > .keyboard-container > .keyboard-button {
    width: 100%;
    height: clamp(42px, 7vw, 55px);
    padding: 0;
    border: 2px solid #dbdbdb;
    border-radius: 8px;
    background-color: #d6b200;
    color: #000000;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 700;
}

main > .keyboard-container > .keyboard-button:hover {
    cursor: pointer;
    color: #d2d2d2;
    background-color: #0597db;
} 

@media (max-width: 550px) {
    main > .keyboard-container {
        grid-template-columns: repeat(7, 1fr);
        gap: 6px;
    }
}

main > .keyboard-container > .keyboard-button.correct {
    background-color: green;
}

main > .keyboard-container > .keyboard-button.wrong {
    background-color: red;
}

main > .keyboard-container > .keyboard-button:disabled {
    cursor: not-allowed;
    opacity: 0.5;
}
main > section > .game-button {
    margin-top: 30px;
    width: 350px;
    /* clamp(MINIMUM, PREFERRED, MAXIMUM) */
    height: clamp(42px, 7vw, 55px); 
    padding: 0;
    border: 2px solid #787878;
    border-radius: 8px;
    background-color: #0597db;
    color: #000000;
    font-size: clamp(1rem, 3vw, 1.5rem);
    font-weight: 700;
}


